@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dosis:wght@300;400;500;700&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --text-color: rgb(70, 70, 70);
    --hover-color: rgb(235, 235, 235);
    --ten-padding: 10px;
    --sixteen-padding: 16px;
    --transition: .3s All;
    --primary: #4285F4;
    --dark-primary: #3170d6;
    --logo-sz: 30px;
    --icon-sz: 20px;
    --google-shadow-layer: 0 0 1px rgba(0, 0, 0);
    --google-shadow-layer-focus: 0 0 1.5px rgba(0, 0, 0);
    --global-padding: 20px 16px;
    --input-padding: 20px 16px;
    --global-padding-wtop: 20px 50px;
    /*global padding with top padding*/
    --border-radius: 2px;
}

@media screen and (min-width:700px) {
     :root {
        --sixteen-padding: 30px 50px;
        --global-padding: 0px 50px;
    }
}

body {
    position: relative;
}

.main-container {
    min-height: 100vh;
}

.notes {
    width: 90vw;
    margin: 90px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, minmax(350px, 350px));
    grid-auto-rows: 300px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

@media screen and (min-width:700px) {
    .notes {
        padding: var(--global-padding);
    }
}

@media screen and (max-width:300px) {
    .notes {
        padding: var(--global-padding);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(1, minmax(350px, 350px));
    }
}